@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Digital;
  src: url('assets/digital-7-mono.ttf') format('truetype');
}

@layer base {
  :root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -webkit-touch-callout: none; /* iOS Safari */
    user-select: none;
    @apply bg-gray-300;
  }
}

@layer utilities {
  .pressed {
    @apply bg-gray-300 border border-slate-400;
  }

  .red-text-glow {
    text-shadow: 0 0 4px #d5404a;
  }

  .border-topDark {
    @apply border-t-gray-500 border-l-gray-500 border-b-white border-r-white;
  }
  .border-topLight {
    @apply border-b-gray-500 border-r-gray-500 border-t-white border-l-white;
  }
  .border-topDark-lg {
    @apply border-4 border-topDark;
  }
  .border-topDark-sm {
    @apply border-3 border-topDark;
  }
  .border-topLight-lg {
    @apply border-4 border-topLight;
  }
  .border-topLight-sm {
    @apply border-3 border-topLight;
  }
}
